<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harmony Home Designs</title>

    <!-- font awesome file link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- magnific popup link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!-- slick carousel link -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>  

    <!-- bootstrap file link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">

    <!-- google fonts -crimson text -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">

    <!-- custom css file link -->
    <link rel="stylesheet" href="/css/about-style.css">
</head>
<body>

<section>
    <div class="promo-container">
        <h2>Enjoy %15 OFF your next project! Promo code #HHD24</h2>
    </div>
</section>

<header class="header flx-top">
    <a href="#" class="logo">
        <h1>Harmony Home</h1>
    </a>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="fa fa-bars"></div>
</header>

<section class="why-choose-us">
    <div class="about-container">
        <div class="about-content">
            <div class="about-flex">
                <span class="about-topper">Why Choose Us</span>
            </div>
            <h2 class="about-title">
                Choose us for our exquisite vision, unmatched quality, and personalized approach.
            </h2>
            <p class="about-text">
                When you choose our interior design team, you're selecting a partner with an exquisite vision and a dedication to unparalleled quality. We approach each project with a personalized touch, ensuring that every detail aligns perfectly with your unique style and preferences. From conceptualization to execution, we're committed to transforming your space into a reflection of your personality, creating a haven that you'll love to call home.
            </p>
        </div>
    </div> 

    <div class="about-wrapper">
        <div class="about-wrappper-container">
            <div class="about-flex">
                <span class="about-topper designers">Meet Our Designers</span>
            </div>
        </div>

        <div class="team-wrapper">
            <div class="about-team-card">
                <div class="team-card name">
                    <h1>Emily Melendez</h1>
                    <img src="/images/designer-1.jpg" alt="designer">
                </div>
                <div class="team-card text">
                    <p>
                        A passionate interior designer with a flair for contemporary elegance, specializing in residential spaces that seamlessly blend functionality with aesthetics. With a keen eye for detail and a commitment to personalized designs, Emily transforms spaces into inviting havens that reflect her clients' unique lifestyles.
                    </p>
                    <button>View Projects</button>
                </div>
            </div>

            <div class="about-team-card">
                <div class="team-card name">
                    <h1>Olivia Rayburn</h1>
                    <img src="/images/designer-2.jpg" alt="designer">
                </div>
                <div class="team-card text">
                    <p>
                        A versatile interior designer celebrated for her timeless designs and attention to client needs, offering a seamless blend of sophistication and comfort. From luxurious urban lofts to cozy countryside retreats, Olivia's expertise lies in curating spaces that exude warmth and functionality, tailored to each client's vision.
                    </p>
                    <button>Contact Us</button>
                </div>
            </div>

            <div class="about-team-card">
                <div class="team-card name">
                    <h1>Javier Scott</h1>
                    <img src="/images/designer-3.png" alt="designer">
                </div>
                <div class="team-card text">
                    <p>
                        A dynamic interior designer known for his innovative approach and eclectic style, combining bold colors and textures to create captivating environments. With a focus on sustainability and mindful design principles, Javier crafts spaces that not only inspire but also respect the environment.
                    </p>
                    <button>Contact Us</button>
                </div>
            </div>
        </div>
    </div>

    <div class="about-wrapper">
        <div class="about-wrappper-container">
            <div class="about-flex">
                <span class="about-topper steps">Steps</span>
            </div>
            <ul class="about-card-group">
                <li class="about-item">
                    <picture class="about-icon-wrapper">
                        <span class="about-icon"> 💻 </span>
                    </picture>
                    <div class="about-text-group">
                        <h3 class="about-h3">Answer a Few Questions</h3>
                        <p class="about-item-text">
                            Please answer a few questions before we commence. We aim to understand your preferences, style, and project starting point.
                        </p>
                    </div>
                </li>
                <li class="about-item">
                    <picture class="about-icon-wrapper">
                        <span class="about-icon"> 🤳 </span>
                    </picture>
                    <div class="about-text-group">
                        <h3 class="about-h3">Complimentary Call</h3>
                        <p class="about-item-text">
                            We'll arrange a free consultation call to discuss pricing, timelines, and your expectations.
                        </p>
                    </div>
                </li>
                <li class="about-item">
                    <picture class="about-icon-wrapper">
                        <span class="about-icon"> 🏠 </span>
                    </picture>
                    <div class="about-text-group">
                        <h3 class="about-h3">Start Building</h3>
                        <p class="about-item-text">
                            Let's start building together, ensuring your vision for your space is realized every step of the way.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="footer container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Harmony Home</h3>
        </div>

        <div class="col-md-3">
            <h2 class="locations">Our Locations</h2>
            <div class="list">
                <p class="locations">Austin, Texas</p>
                <p class="locations">Dallas, Texas</p>
                <p class="locations">San Antonio, Texas</p>
            </div>
        </div>

        <div class="col-md-3">
            <h2>Contact Us</h2>
            <div class="list">
                <p>📞 +1 (123) 456-7890</p>
                <p>📩 contact@harmonyhomedesigns.com</p>
            </div>
        </div>

        <div class="col-md-3">
            <h2>Follow Us</h2>
            <div class="list">
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
                <a href="#">Pinterest</a>
            </div>
        </div>
    </div>
  
    <div class="credit">created by <a href="https://quyenonthe.net"><span>quynguy</span></a> | all rights reserved</div>
</section>

<!-- jquery file link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- jquery cards link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- magnific popup link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<!-- slick carousel link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<!-- main / custom js file link -->
<script src="main.js"></script>

</body>
</html>
