<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harmony Home Designs</title>

    <!-- font awesome file link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- magnific popup link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!-- slick carousel link -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>  

    <!-- bootstrap file link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">

    <!-- google fonts -crimson text -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">

    <!-- custom css file link -->
    <link rel="stylesheet" href="/css/contact-style.css">
</head>
<body>

<section>
    <div class="promo-container">
        <h2>Enjoy %15 OFF your next project! Promo code #HHD24</h2>
    </div>
</section>

<header class="header flx-top">
    <a href="#" class="logo">
        <h1>Harmony Home</h1>
    </a>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="fa fa-bars"></div>
</header>

<section class="contact" id="contact">
    <h1 class="heading">Contact Us </h1>
    <div class="contact-container">
        <div class="contact-box-container mx-auto">
            <div class="contact-box">
                <h1>Your inquiry is important to us.</h1>
            </div>

            <div class="contact-box">
                <h2>A team member will contact you within 24 hours. For urgent requests or inquiries, please don't hesitate to give us a call.</h2>
            </div>

            <div class="contact-box">
                <i class="fas fa-map-marker-alt"></i>
                <h3>Headquarters: Austin, Texas</h3>
            </div>

            <div class="contact-box">
                <i class="fas fa-envelope"></i>
                <h3>contact@harmonyhomedesigns.com</h3>
            </div>

            <div class="contact-box">
                <i class="fas fa-phone"></i>
                <h3>+1 (123) 456-7890</h3>
            </div>
        </div>

        <div class="form-container mx-auto">
            <form action="">
                <div class="inputBox">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="inputBox">
                    <input type="email" placeholder="E-mail">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="heading">Subscribe</div>
    <div class="letter">
        <h1>Subscribe for the latest updates on interior design tips and exclusive promo codes.</h1>
        <form action="">
            <div class="form-subscribe">
                <input type="email" placeholder="Enter your e-mail">
                <input type="submit" placeholder="subscribe">
            </div>
        </form>
    </div>
</section>

<section class="footer container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Harmony Home</h3>
        </div>

        <div class="col-md-3">
            <h2 class="locations">Our Locations</h2>
            <div class="list">
                <p class="locations">Austin, Texas</p>
                <p class="locations">Dallas, Texas</p>
                <p class="locations">San Antonio, Texas</p>
            </div>
        </div>

        <div class="col-md-3">
            <h2>Contact Us</h2>
            <div class="list">
                <p>📞 +1 (123) 456-7890</p>
                <p>📩 contact@harmonyhomedesigns.com</p>
            </div>
        </div>

        <div class="col-md-3">
            <h2>Follow Us</h2>
            <div class="list">
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
                <a href="#">Pinterest</a>
            </div>
        </div>
    </div>
    <div class="credit"> created by 
      <a href="https://quyenonthe.net"><span> quynguy </span> </a> | all rights reserved 
    </div>
</section>

<!-- jquery file link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- magnific popup link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<!-- slick carousel link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<!-- main / custom js file link -->
<script src="main.js"></script>

</body>
</html>
