<section class="contact" id="contact">
    <h1 class="heading">Contact Us </h1>
    <div class="contact-box-container mx-auto">
      <div class="contact-box">
        <i class="fas fa-map-marker-alt"></i>
        <h3>Austin, Texas</h3>
      </div>

      <div class="contact-box">
        <i class="fas fa-envelope"></i>
        <h3>contact@harmonyhomedesigns.com</h3>
      </div>

      <div class="contact-box">
        <i class="fas fa-phone"></i>
        <h3>+1 (123) 456-7890</h3>
      </div>
    </div>

    <div class="form-container mx-auto">
      <form action="">
        <div class="inputBox">
          <input type="text" placeholder="first name">
          <input type="text" placeholder="last name">
        </div>
          <input type="email" placeholder="e-mail">
          <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
          <input type="submit" value="send">
      </form>
    </div>
  </section>

  <section>
    <div class="col-md-3 text-center text-md left letter">
        <h1>Newsletter</h1>
        <h1>Subscribe for latest updates</h1>
        <input type="email" placeholder="enter your email">
        <input type="submit" placeholder="subscribe">
      </div>
    </div>
  </section>

 