<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Harmony Home Designs</title>

  <!-- font awesome file link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <!-- magnific popup link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

  <!-- slick carousel link -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>  

  <!-- boostrap file link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
  
  <!-- google fonts -crimson text -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">

  <!-- custom css file link-->
  <link rel="stylesheet" href="/css/home-style.css">
</head>
<body>

  <header class="header flx-top">
    <a href="#" class="logo">
      <h1>Harmony Home</h1>
    </a>

    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="fa fa-bars"></div>
  </header>

  <section id="home" class="home container-fluid">
    <div class="row hero">
      <div class="col pl-5 ml-sm-5 p-0">
        <h1 class="heading">Interior Designs </h1>
        <h3 class="subheading">Architecture Services </h1>
      </div>
    </div>

    <div class="counting">
      <div class="box">
        <h1 class="count" data-count="6200">6200+</h1>
        <h3>Working Hours</h3>
      </div>

      <div class="box">
        <h1 class="count" data-count="9">9+</h1>
        <h3>Awards</h3>
      </div>

      <div class="box">
        <h1 class="count" data-count="236">236+</h1>
        <h3>Clients</h3>
      </div>

      <div class="box">
        <h1 class="count" data-count="362">362+</h1>
        <h3> Projects </h3>
      </div>
    </div>
  </section>

  <section class="about" id="about">
    <h1 class="heading">About Us</h1>
    <div class="row align-items-center">
      <div class="col-md-6 image">
        <img src="images/about-image.jpg" width="90%" alt="">
      </div>

      <div class="col-md-6 info">
        <h2> Customized interior designs for every personality. </h2>
        <p>Harmony Home stands out as the epitome of excellence in interior design, offering unparalleled creativity and attention to detail. With a team of skilled professionals dedicated to crafting personalized and harmonious spaces, Harmony Home transforms visions into reality, creating homes that inspire and delight.</p>
        <button><a href="/about">Learn More</button>
        <div class="icons">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-pinterest"></a>
        </div>
      </div>
    </div>
  </section>

  <section class="services" id="services">
    <h1 class="heading">Our Services</h1>
    <div class="box-container carousel mx-auto">
      <div class="box">
        <div class="fas fa-palette">
          <h1>Space planning and layout design</h1><br>
          <p>
            Optimizing room layout for functionality.
          </p>
        </div>
      </div>

      <div class="box">
        <div class="fas fa-tools">
          <h1>Furniture selection and arrangement</h1><br>
          <p>
            Curating pieces for style cohesion.
          </p>
        </div>
      </div>

      <div class="box">
        <div class="fas fa-palette">
          <h1>Color scheme selection and coordination</h1><br>
          <p>
            Harmonizing hues for cohesive ambiance.
          </p>
        </div>
      </div>

      <div class="box">
        <div class="fas fa-palette">
          <h1>Lighting design</h1> <br>
          <p>
            Enhancing ambiance with strategic lighting.
          </p>
        </div>
      </div>

      <div class="box">
        <div class="fas fa-tools">
          <h1>Home Staging</h1> <br>
          <p>
            Showcasing Homes for Maximum Buyer Interest.
          </p>
        </div>
      </div>

      <div class="box">
        <div class="fas fa-palette">
          <h1>Renovation and remodeling</h1><br>
          <p>
            Renovating Spaces with Contemporary Style.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="project" id="project">
    <h1 class="heading">Our Projects</h1>
    <div class="box-container">
      <div class="box">
        <a href="images/img1.jpg" title="living room">
          <img src="images/img1.jpg" alt="">
        </a>
      </div>
      <div class="box">
        <a href="images/img2.jpg" title="hall">
          <img src="images/img2.jpg" alt="">
        </a>
      </div>
      <div class="box">
        <a href="images/img3.jpg" title="dining room">
          <img src="images/img3.jpg" alt="">
        </a>
      </div>
      <div class="box">
        <a href="images/img4.jpg" title="bed room">
          <img src="images/img4.jpg" alt="">
        </a>
      </div>
      <div class="box">
        <a href="images/img5.jpg" title="kitchen">
          <img src="images/img5.jpg" alt="">
        </a>
      </div>

      <div class="box">
        <a href="images/img6.jpg" title="bathroom">
          <img src="images/img6.jpg" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="footer container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h3>Harmony Home</h3>
      </div>

      <div class="col-md-3">
        <h2 class="locations">Our Locations</h2>
        <div class="list">
          <p class="locations">Austin, Texas</p>
          <p class="locations">Dallas, Texas</p>
          <p class="locations">San Antonio, Texas</p>
        </div>
      </div>

      <div class="col-md-3">
        <h2>Contact Us</h2>
        <div class="list">
          <p>📞 +1 (123) 456-7890</p>
          <p>📩 contact@harmonyhomedesigns.com</p>
        </div>
      </div>

      <div class="col-md-3">
        <h2>Follow Us</h2>
        <div class="list">
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">Instagram</a>
          <a href="#">Pinterest</a>
        </div>
      </div>
    </div>
    <div class="credit"> created by 
      <a href="https://quyenonthe.net"><span> quynguy </span> </a> | all rights reserved 
    </div>
  </section>

  <!-- jquery file link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- main / custom js file link -->
  <script src="main.js"></script>

  <!-- magnific popup link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

  <!-- slick carousel link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

</body>
</html>
 