<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harmony Home Designs</title>

    <!-- font awesome file link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- magnific popup link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    

    <!-- boostrap file link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    
    <!-- google fonts -crimson text -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">

    <!-- custom css file link-->
    <link rel="stylesheet" href="/css/home-style.css">
  </head>
  <body>

    <header class="header flx-top">
      <a href="#" class="logo">
        <h1>Harmony Home </h1>
      </a>

      <nav>
        <ul>
          <li><a href="#home">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#services">services</a></li>
          <li><a href="#projects">projects</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </nav>

      <div class="fa fa-bars"></div>
    </header>

    <section id="home" class="home container-fluid">
      <div class="row hero">
        <div class="col pl-5 ml-sm-5 p-0">
          <h1 class="heading">Interior Designs </h1>
          <h3 class="subheading">Architecture Services </h1>
        </div>
      </div>

      <div class="counting">
        <div class="box">
          <h1 class="count" data-count="6200">6200+</h1>
          <h3>working hours</h3>
        </div>

        <div class="box">
          <h1 class="count" data-count="9">9+</h1>
          <h3>awards</h3>
        </div>

        <div class="box">
          <h1 class="count" data-count="236">236+</h1>
          <h3>clients</h3>
        </div>

        <div class="box">
          <h1 class="count" data-count="362">362+</h1>
          <h3> projects </h3>
        </div>
      </div>
    </section>

    <section class="about" id="about">
      <h1 class="heading">About Us</h1>
      <div class="row align-items-center">
        <div class="col-md-6 image">
          <img src="images/about-image.jpg" width="90%" alt="">
        </div>

        <div class="col-md-6 info">
          <h2> Customized interior designs for every personality. </h2>
          <p>Harmony Home stands out as the epitome of excellence in interior design, offering unparalleled creativity and attention to detail. With a team of skilled professionals dedicated to crafting personalized and harmonious spaces, Harmony Home transforms visions into reality, creating homes that inspire and delight.</p>
        <div class="icons">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-pinterest"></a>

          </a>
        </div>
        </div>
      </div>
    </section>

    <section class="services" id="services">
      <h1 class="heading">Our Services</h1>
      <div class="box-container mx-auto">
        <div class="box">
          <div class="fas fa-palette">
            <p>
              Space planning and layout design: <br>
              Optimizing room layout for functionality.
            </p>
          </div>
        </div>

        <div class="box">
          <div class="fas fa-tools">
            <p>
              Furniture selection and arrangement: <br>
              Curating pieces for style cohesion.
            </p>
          </div>
        </div>

        <div class="box">
          <div class="fas fa-palette">
            <p>
              <span>Color scheme selection and coordination:</span><br>
              Harmonizing hues for cohesive ambiance.
            </p>
          </div>
        </div>

        <div class="box">
          <div class="fas fa-palette">
            <p>
              <span>Lighting design:</span> <br>
              Enhancing ambiance with strategic lighting.
            </p>
          </div>
        </div>

        <div class="box">
          <div class="fas fa-tools">
            <p>
              <span>Home Staging</span> <br>
              Showcasing Homes for Maximum Buyer Interest.
            </p>
          </div>
        </div>

        <div class="box">
          <div class="fas fa-palette">
            <p>
              <span>Renovation and remodeling:</span> <br>
              Renovating Spaces with Contemporary Style.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="project" id="project">
      <h1 class="heading">Our Projects</h1>
      <div class="box-container">
        <div class="box">
          <a href="images/img1.jpg" title="house">
            <img src="images/img1.jpg" alt="">
          </a>
        </div>
        <div class="box">
          <a href="images/img2.jpg" title="hall">
            <img src="images/img2.jpg" alt="">
          </a>
        </div>
        <div class="box">
          <a href="images/img3.jpg" title="pule">
            <img src="images/img3.jpg" alt="">
          </a>
        </div>
        <div class="box">
          <a href="images/img4.jpg" title="pule">
            <img src="images/img4.jpg" alt="">
          </a>
        </div>
        <div class="box">
          <a href="images/img5.jpg" title="pule">
            <img src="images/img5.jpg" alt="">
          </a>
        </div>

        <div class="box">
          <a href="images/img6.jpg" title="pule">
            <img src="images/img6.jpg" alt="">
          </a>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <h1 class="heading">Contact Us </h1>
      <div class="contact-box-container mx-auto">
        <div class="contact-box">
          <i class="fas fa-map-marker-alt"></i>
          <h3>Austin, Texas</h3>
        </div>

        <div class="contact-box">
          <i class="fas fa-envelope"></i>
          <h3>contact@harmonyhomedesigns.com</h3>
        </div>

        <div class="contact-box">
          <i class="fas fa-phone"></i>
          <h3>+1 (123) 456-7890</h3>
        </div>
      </div>

      <div class="form-container mx-auto">
        <form action="">
          <div class="inputBox">
            <input type="text" placeholder="first name">
            <input type="text" placeholder="last name">
          </div>
            <input type="email" placeholder="e-mail">
            <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
            <input type="submit" value="send">
        </form>
      </div>
    </section>






  
  <!-- jquery file link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- main / custom js file link -->
  <script src="main.js"></script>

  <!-- magnific popup link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
</body>
</html>