@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Crimson Text', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.about-topper {
    margin: 0 auto;
    font-size: 4rem;
    background-color: #ebf2fa;
    width: 90%;
    text-align: center;
    color: #064789;
    font-weight: 700;
}

.heading {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    color: #444;
    margin: 2rem 0;
    padding-top: 6rem;
    text-underline-offset: -1.4rem;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #427aa1;
    z-index: 100;
    padding: 1rem 2rem;
}



.header .logo  {
    height: 4.1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 1.5rem;
    text-decoration: none;
}

.header .logo h1 {
    font-weight: 700;
    font-family: 'Italiana', serif;
    color: #ebf2fa;
    font-size: 4rem;
    text-shadow: 2px 2px 2px #4E3D42;
    letter-spacing: .5rem;
}


.header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 1.5rem;
}

header nav ul li a {
    font-size: 2rem;
    color: #fdfbfb;
    text-decoration: none;
}

header nav ul li a:hover {
    color: black;
    font-size: 2rem;
}

.header .fa-bars {
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.fa-times {
    transform: rotate(180deg);
}


/* header section & header container */
@keyframes flash {
    0% { opacity: 1; } /* Fully visible */
    50% { opacity: 0; } /* Invisible */
    100% { opacity: 1; } /* Fully visible */
}

.promo-container {
    background: #edf6f9;
    height: 4rem;
    text-align: center;
    padding: 1rem;
}

.promo-container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    animation: flash 1.5s infinite;
}

/* why choose us section */

.why-choose-us {
    padding: 4rem;
    margin-top: 2rem;
}

.why-choose-us .about-container {
    width: 100%;
    margin: auto;
}

.why-choose-us .about-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.why-choose-us .about-title {
    margin-top: 3rem;
    text-align: center;
    font-weight: 700;
}

.why-choose-us .about-text {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 3rem;
}




/* icons container */
.icons-container {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: #f9f9fa;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
    margin-top: 2rem;
}

.icons-container .icons .emoji {
    height: 5rem;
    margin-right: 2rem;
    font-size: 4rem;
}

.icons-container .icons .info h3 {
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.icons-container .icons span {
    color: #555;
    font-size: 1.5rem;
}


/* designers container */
.designers .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 4rem;
}

.designers .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgb(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0.1);
    position: relative;
}


.designers .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.designers .box-container .box .image img {
    height: 25rem;
    margin-top: 6rem;

}

.designers .box-container .box:hover .image img {
    transform: scale(1.1);
}

.designers .box-container .box .image .icons {
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}

.designers .box-container .box:hover .image .icons {
    bottom: 0;

}

.designers .box-container .box:hover .image .icons {
    bottom: 0;
}


.designers .box-container .box .image .icons a {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: #427aa1;
    color: #fff;
    text-decoration: none;
}


.designers .box-container .box .image .icons a:hover {
    background: #427aa1;
}

.designers .box-container .box  .content {
    padding: 2rem;
    text-align: center;
}

.designers .box-container .box  .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.designers .box .content .price {
    font-size: 2.5rem;
    color:#064789;
    font-weight: bolder;
    padding-top: 1rem;
}

.designers .box-container .content .price span {
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}




/* footer section */
.footer {
    background: #427aa1;
    padding-top: 2rem;
    color: white;
}

.footer .row .col-md-3 h3 {
    margin-top: 2rem;
}

.footer .row .col-md-3 .logo {
    font-size: 1.5rem;
}

.footer .logo, h3 {
    text-align: center;
    font-size: 1.2rem;
}

.footer .list {
    display: flex;
    flex-flow: column;
}


.footer .list a {
    font-size: 1.4rem;
}


.footer h3 {
    margin-top: 2rem;
    height: 5rem;
    justify-content: space-around;
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #4E3D42;
}


.footer h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
}

.footer h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}


.footer p {
    font-size: 1.4rem;
}

.list a {
    text-decoration: none;
    color: white;
}



.credit {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    
}

.credit span {
    color: green;
    font-weight: 700;
}

.credit a {
    text-decoration: none;
    space: .5rem;
}

.credit a span{
    font-size: 2rem;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}





/* media queries */

@media (max-width: 768px) {
    header nav ul li a {
        color: black;
    }
    
    html {
        font-size: 50%;
    }

    
    .header .fa-bars {
        display: block;
    }

    .header nav {
        position: fixed;
        top: 6rem;
        right: -120%;
        height: calc(100vh - 6rem);
        width: 100vw;
        background: rgba(0,0,0,.5);
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header nav ul {
        height: 100%;
        width: 33rem;
        background: #fff;
        flex-flow: column;
        justify-content: center;
        float: right;
    }

    .header nav ul li {
        margin: 1rem 0;
    }

    .header nav ul li a {
        display: block;
        padding: .5rem 0;
        border: .1rem solid rgba(0,0,0,.3);
        width: 25rem;
        border-radius: 5rem;
        text-align: center;
    }

    .header nav ul li a:hover {
        background: #427aa1;
        color: #fff;
    }

    .header .nav-toggle {
        right: 0;
        margin-top: 4.1rem;
    }

    .footer h3 {
        text-align: center;
    }
    
    .footer h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .footer p {
        font-size: 2rem;
    }

    .footer .list a {
        font-size: 2rem;
    }

    .credit {
        font-size: 2rem;
    }
    .credit a span{
        font-size: 2rem;
        color: white;
        margin-left: 2rem;
        margin-right: 2rem;
    }


}




@media only screen
and (min-device-width : 360px)
and (max-device-width : 480px) {

    header nav ul li a {
        color: black;
    }

    .about .image {
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /*footer section*/
    
    .footer h3 {
        text-align: center;
    }
    
    .footer h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .footer p {
        font-size: 2rem;
    }

    .footer .list a {
        font-size: 2rem;
    }

    .credit {
        font-size: 2rem;
    }
    .credit a span{
        font-size: 2rem;
        color: white;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

