@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --green: #AFE1AF;
    --text: #054d12;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Crimson Text', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* header section & header container */
@keyframes flash {
    0% { opacity: 1; } /* Fully visible */
    50% { opacity: 0; } /* Invisible */
    100% { opacity: 1; } /* Fully visible */
}

.promo-container {
    background: #ebf2fa;
    height: 4rem;
    text-align: center;
    padding: 1rem;
}

.promo-container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    animation: flash 1.5s infinite;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #427aa1;
    z-index: 100;
    padding: 1rem 2rem;
}



.header .logo  {
    height: 4.1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 1.5rem;
    text-decoration: none;
}

.header .logo h1 {
    font-weight: 700;
    font-family: 'Italiana', serif;
    color: #ebf2fa;
    font-size: 4rem;
    text-shadow: 2px 2px 2px #4E3D42;
    letter-spacing: .5rem;
}


.header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 1.5rem;
}

header nav ul li a {
    font-size: 2rem;
    color: #fdfbfb;
    text-decoration: none;
}

header nav ul li a:hover {
    color: black;
    font-size: 2rem;
}

.header .fa-bars {
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.fa-times {
    transform: rotate(180deg);
}


/* contact section */

.heading {
    color: #064789;
    text-underline-offset: -1.4rem;
    font-weight: 700;
    font-size: 4rem;
    background-color: #ebf2fa;
    width: 50%;
    height: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

.contact-container {
    background: #ebf2fa;
    width:100%;
    margin: auto;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.contact-box-container {
    width: 50%;
}

.contact-box {
    display: flex;
    margin: 2rem 4rem;
    font-size: 1.5rem;
}


.contact-box h2 {
    margin-bottom: 2rem;
}

.contact-box h3 {
    font-size: 1.75rem;
    margin-left: 2rem;
}

.form-container {
    border: 6px solid #427aa1;
    width: 50%;
}

.inputBox {
    margin-bottom: 2rem;
}

.inputBox input {
    width: 90%;
    height: 5rem;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1rem;
}


.form-container input[type="email"] {
    width: 90%;
    height: 3rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1rem;
}
  

.form-container textarea {
    width:90%;
    margin-top: 2rem;
    margin-right:3rem;
    margin-left:3rem;
    font-size: 1.5rem;
    padding: 1rem;
}


.form-container input[type="submit"] {
    width: 90%;
    height: 6rem;
    font-size: 2rem;
    border-radius: 16px;
    background-color: #427aa1;
    color: white;;
}

.form-container input[type="submit"]:hover {
    background-color: #ebf2fa;
    color: black;
}


/* newsletter section */

.subscribe {
    margin-bottom: 5rem;
}

.letter {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.letter h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}



.form-subscribe input[type="email"] {
    width: 35%;
    height: 5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    border: 2px solid #427aa1;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 2rem;
}

.form-subscribe input[type="submit"] {
    width: 10%;
    height: 5rem;       
    margin-right: 3rem;
    border: 2px solid #427aa1;
    font-size: 2rem;
    border-radius: 5px;
    background-color: #ebf2fa;
}

.form-subscribe input[type="submit"]:hover {
    background-color: #427aa1;
    color: white;
}






/* footer section */

.footer {
    background: #427aa1;
    padding-top: 2rem;
    color: white;
}

.footer .row .col-md-3 h3 {
    margin-top: 2rem;
}

.footer .row .col-md-3 .logo {
    font-size: 1.5rem;
}

.footer .logo, h3 {
    text-align: center;
    font-size: 1.2rem;
}

.footer .list {
    display: flex;
    flex-flow: column;
}



.footer .list a {
    font-size: 1.4rem;
}

.list a {
    text-decoration: none;
    color: white;
}


.footer h3 {
    margin-top: 2rem;
    height: 5rem;
    justify-content: space-around;
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #4E3D42;
}


.footer h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
}

.footer h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}


.footer p {
    font-size: 1.4rem;
}



.credit {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    
}

.credit span {
    color: green;
    font-weight: 700;
}

.credit a {
    text-decoration: none;
    space: .5rem;
}






/* media queries */

@media (max-width: 768px) {

    header nav ul li a {
        color: black;
    }
    
    html {
        font-size: 50%;
    }

    
    .header .fa-bars {
        display: block;
    }

    .header nav {
        position: fixed;
        top: 6rem;
        right: -120%;
        height: calc(100vh - 6rem);
        width: 100vw;
        background: rgba(0,0,0,.5);
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header nav ul {
        height: 100%;
        width: 33rem;
        background: #fff;
        flex-flow: column;
        justify-content: center;
        float: right;
    }

    .header nav ul li {
        margin: 1rem 0;
    }

    .header nav ul li a {
        display: block;
        padding: .5rem 0;
        border: .1rem solid rgba(0,0,0,.3);
        width: 25rem;
        border-radius: 5rem;
        text-align: center;
    }

    .header nav ul li a:hover {
        background: #427aa1;
        color: #fff;
    }

    .header .nav-toggle {
        right: 0;
        margin-top: 4.1rem;
    }

    .footer h3 {
        text-align: center;
    }
    
    .footer h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .footer p {
        font-size: 2rem;
    }

    .footer .list a {
        font-size: 2rem;
    }

    .credit {
        font-size: 2rem;
    }
    .credit a span{
        font-size: 2rem;
        color: white;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}






@media only screen
and (min-device-width : 360px)
and (max-device-width : 480px) {

    /*nav bar*/

    header nav ul li a {
        color: black;
    }

    .contact-container {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .contact-box-container,
    .form-container {    
        width: 100%;
    }

    .inputBox input {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .form-container input[type="email"],
    .form-container input[type="submit"],
    .form-container textarea {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .contact-box h1 {
        text-align: center;
        font-size: 3rem;
    }

    .contact-box h2 {
        text-align: center;
        font-size: 2rem;
    }

    .contact-box h3 {
        font-size: 2rem;
    }

    .form-subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-subscribe input[type="email"] {
        width: 75%;
        font-size: 2rem;
    }

    .form-subscribe input[type="submit"] {
        margin-top: 1rem;
        margin-left: 3rem;
        width: 25%;
    }

    /*footer section*/
    
    .footer h3 {
        text-align: center;
    }
    
    .footer h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    .footer p {
        font-size: 2rem;
    }

    .footer .list a {
        font-size: 2rem;
    }

    .credit {
        font-size: 2rem;
    }
    .credit a span{
        font-size: 2rem;
        color: white;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

