@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --orange: rgb(239, 173, 49);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: 'Crimson Text', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.header .logo {
    height: 8rem;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 1.5rem;
}

header nav ul li a {
    font-size: 2rem;
}