@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --green: #AFE1AF;
    --text: #054d12;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Crimson Text', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.heading {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    color: #444;
    margin: 2rem 0;
    padding-top: 6rem;
    text-underline-offset: -1.4rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
}

.header .logo  {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 1.5rem;
    text-decoration: none;
}

.header .logo h1 {
    font-weight: 700;
    font-family: 'Italiana', serif;
    color: #C9D5B5;
    font-size: 4rem;
    text-shadow: 2px 2px 2px #4E3D42;
    letter-spacing: .5rem;
}


.header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 1.5rem;
}

header nav ul li a {
    font-size: 2rem;
    color: #666;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #C9D5B5;
    font-size: 2rem;
}

.header .fa-bars {
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.fa-times {
    transform: rotate(180deg);
}


/* home section*/
.home .hero {
    min-height: 60vh;
    background: url(../images/bg-image.jpg) no-repeat; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home .hero .heading {
    font-size: 5rem;
    width: 45rem;
    background: #E3DBDB;
    padding: 1rem 2rem;
    text-align: center;
    opacity: .8;
}

.home .hero .subheading {
    font-size: 2rem;
    width: 35rem;
    background: #C9D5B5;
    padding: 1rem 2rem;
    text-align: center;
    opacity: .9;
    margin-top: 1rem;
    color: #4E3D42;
}


.home .counting {
    min-height: 40vh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .counting .box {
    margin: 2rem 4rem;
    text-align: center;
}


.home .counting .box .count {
    font-size: 7rem;
    color: #444;
}

.home .counting .box h3 {
    font-size: 2rem;
    color: #C9D5B;
}


/* about section */

.about {
    min-height: 100vh;
    padding-bottom: 3rem;
}


.about .image {
    padding: 2rem;
}

.about .image img {
    height: 45rem;
    object-fit: cover;
    box-shadow: 1.5rem 1.5rem 0 1.5rem #E3DBDB;
}

.about .info {
    padding: 2rem;
    margin-top: 3rem;
}

.about .info h2 {
    color: rgb(101, 149, 101);
    font-size: 3rem;
}

.about .info p {
    font-size: 1.4rem;
    color: #444;
    margin: 2rem 0;
}


.about .info .icons a {
    font-size: 2rem;
    height: 4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: .5rem;
    margin-right: 1rem;
    text-decoration: none;
}


.about .info .icons a:hover {
    background: #9F9F92;
}


/* services container */

.services {
    min-height: 100vh;
    background: #E3DBDB;
}

.services .box-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services .box-container .box {
    height: 22rem;
    width: 28rem;
    box-shadow:  0 1rem 1rem #E3DBDB;
    border-left: .5rem solid #9F9F92;
    border-right: .5rem solid #9F9F92;
    border-radius: .5rem;
    text-align: center;
    padding-top: 6rem;
    margin: 2rem 3rem;
}

.services .box-container .box .fas {
    color: #C9D5B5;
    font-size: 4rem;
}

.services .box-container .box p {
    color: #333;
    font-size: 1.5rem;
    margin: 3rem 2rem;
}


/* projects gallery section */


.projects {
    min-height: 100vh;
    background: #333;
}

.project .heading {
    color: #c03e3e;
}

.project .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.project .box-container .box {
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem #000; 
    overflow: hidden;
}

.project .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.project .box-container .box img:hover {
    transform: scale(1.4);
}

/* contact section */

.contact {
    background: #E3DBDB;
    min-height: 100vh;
}

.contact-box-container {
    width: 93%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-box-container .contact-box {
    height: 15rem;
    flex: 1 0 30rem;
    margin: 2rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    border-radius: .5rem;
    text-align: center;
    padding-top: 4rem;
}

.contact-box-container .contact-box i {
    color: green;
    font-size: 3rem;
}

.contact-box-container .contact-box h3 {
    font-size: 1.8rem;
    color: #444;
    margin: 2rem;
}


.contact .form-container {
    width: 90%;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    border-radius: .5rem;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

.contact .form-container form input, textarea {
    height: 4.5rem;
    padding: 0 1rem;
    margin: 2rem 0;
    font-size: 1.5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    border: none;
    outline: none;
    color: #333;
}

.contact .form-container form .inputBox {
    display: flex;
    justify-content: space-between;
}

.contact .form-container form input[type="text"] {
    width: 49%;
}

.contact .form-container form input[type="email"] {
    width: 100%;
}

.contact .form-container form textarea {
    width: 100%;
    height: 20rem;
    padding: 1rem;
    resize: none;
    overflow-y: auto;
}

.contact .form-container form input[type="submit"] {
    background: #9F9F92;
    width: 15rem;
    color: #fff;
    font-size: 2rem;
}

.contact .form-container form input[type="submit"]:hover {
    opacity: 90%;
}






/* media queries */

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    
    .header .fa-bars {
        display: block;
    }

    .header nav {
        position: fixed;
        top: 6rem;
        right: -120%;
        right: 0;
        height: calc(100vh - 6rem);
        width: 100vw;
        background: rgba(0,0,0,.5);
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header nav ul {
        height: 100%;
        width: 33rem;
        background: #fff;
        flex-flow: column;
        justify-content: center;
        float: right;
    }

    .header nav ul li {
        margin: 1rem 0;
    }

    .header nav ul li a {
        display: block;
        padding: .5rem 0;
        border: .1rem solid rgba(0,0,0,.3);
        width: 25rem;
        border-radius: 5rem;
        text-align: center;
    }

    .header nav ul li a:hover {
        background: #93cc96;
        color: #fff;
    }

    .header .nav-toggle (
        right: 0%;
    )

}


@media (max-width: 400px) {
    .home .hero .heading {
        font-size: 3.5rem;
        width: 35rem;
    }

    .home .hero .subheading {
        font-size: 3.5rem;
        width: 35rem;
    }
}
