@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --green: #AFE1AF;
    --text: #054d12;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: 'Crimson Text', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.heading {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    color: #444;
    margin: 2rem 0;
    padding-top: 6rem;
    /* text-decoration: underline; */
    /* text-decoration-style: solid; */
    /* text-decoration-color: var(--green); */
    text-underline-offset: -1.4rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
}

.header .logo  {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 1.5rem;
    text-decoration: none;
}

.header .logo h1 {
    font-weight: 700;
    font-family: 'Italiana', serif;
    color: var(--green);
    font-size: 4rem;
    text-shadow: 2px 2px 2px #054d12;
    letter-spacing: .5rem;
}


.header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 1.5rem;
}

header nav ul li a {
    font-size: 2rem;
    color: #666;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #93cc96;
    font-size: 2rem;
}

.header .fa-bars {
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.fa-times {
    transform: rotate(180deg);
}


/* home section*/
.home .hero {
    min-height: 60vh;
    background: url(../images/bg-image.jpg) no-repeat; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home .hero .heading {
    font-size: 5rem;
    width: 45rem;
    background: #fff;
    padding: 1rem 2rem;
    text-align: center;
    opacity: .8;
}

.home .hero .subheading {
    font-size: 2rem;
    width: 35rem;
    background: var(--green);
    padding: 1rem 2rem;
    text-align: center;
    opacity: .9;
    margin-top: 1rem;
    color: #080808;
}


.home .counting {
    min-height: 40vh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .counting .box {
    margin: 2rem 4rem;
    text-align: center;
}


.home .counting .box .count {
    font-size: 7rem;
    color: #444;
}

.home .counting .box h3 {
    font-size: 2rem;
    color: rgb(101, 149, 101);
}


/* about section */

.about {
    min-height: 100vh;
    padding-bottom: 3rem;
}


.about .image {
    padding: 2rem;
}

.about .image img {
    height: 45rem;
    object-fit: cover;
    box-shadow: 1.5rem 1.5rem 0 1.5rem rgb(100, 110, 101);
}

.about .info {
    padding: 2rem;
    margin-top: 3rem;
}

.about .info h2 {
    color: rgb(101, 149, 101);
    font-size: 3rem;
}

.about .info p {
    font-size: 1.4rem;
    color: #444;
    margin: 2rem 0;
}


.about .info .icons a {
    font-size: 2rem;
    height: 4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: .5rem;
    margin-right: 1rem;
    text-decoration: none;
}


.about .info .icons a:hover {
    background: rgb(101, 149, 101);
}









/* media queries */

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    
    .header .fa-bars {
        display: block;
    }

    .header nav {
        position: fixed;
        top: 6rem;
        right: -120%;
        right: 0;
        height: calc(100vh - 6rem);
        width: 100vw;
        background: rgba(0,0,0,.5);
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header nav ul {
        height: 100%;
        width: 33rem;
        background: #fff;
        flex-flow: column;
        justify-content: center;
        float: right;
    }

    .header nav ul li {
        margin: 1rem 0;
    }

    .header nav ul li a {
        display: block;
        padding: .5rem 0;
        border: .1rem solid rgba(0,0,0,.3);
        width: 25rem;
        border-radius: 5rem;
        text-align: center;
    }

    .header nav ul li a:hover {
        background: #93cc96;
        color: #fff;
    }

    .header .nav-toggle (
        right: 0%;
    )

}


@media (max-width: 400px) {
    .home .hero .heading {
        font-size: 3.5rem;
        width: 35rem;
    }

    .home .hero .subheading {
        font-size: 3.5rem;
        width: 35rem;
    }
}
